{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- Contact start -->
<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me</span></h2>
    <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        
        <div class="input-group">
            <div class="input-box">
                <input type="text" name="name" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="number" name="phone" placeholder="Phone Number" required>
                <input type="text" name="subject" placeholder="Subject" required>
            </div>
        </div>

        <div class="input-group-2">
            <textarea name="message" id="message" placeholder="Your Message" cols="30" rows="10" required></textarea>
        </div>

        <a href="/" class = "btn">Send Message</a>
    </form>
</section>
<!-- Contact end -->
{% endblock %}
