{% extends 'main/base.html' %}
{% load static%}

{% block content %}
<!-- Services Start -->
<section class="services" id="services">
    <h2 class="heading">Services</h2>
    <div class="services-container">
        <div class="service-box">
            <div class="service-info">
                <i class="bx bxl-figma"></i>
                <h6>Full stack</h6>
                <p>   As a Django web developer, I provide end-to-end web development services, specializing in
                        building dynamic, responsive, and scalable web applications. My services include front-end
                        development with HTML, CSS, and JavaScript, as well as back-end development using Django and
                        Python. I offer custom database integration with MySQL, ensuring efficient data management and
                        seamless functionality. Additionally, I focus on delivering clean, maintainable code and
                        user-friendly designs, tailored to meet your specific business needs. Whether it's creating a
                        new web app or enhancing an existing one, I am dedicated to providing reliable and high-quality
                        solutions.
                </p>
            </div>
        </div>
        <div class="service-box">
            <div class="service-info">
               <i class="bx bxl-code-alt"></i>
    
                <h6>Frontend Developer</h6>
                <p>
                     As a frontend developer, I specialize in creating visually appealing, user-friendly, and
                        responsive websites. I can turn design concepts into functional interfaces using HTML, CSS, and
                        JavaScript, ensuring seamless performance across all devices. My expertise includes building
                        custom layouts, optimizing website performance, and implementing interactive elements to enhance
                        user experience.
                </p>
            </div>
        </div>
        <div class="service-box">
            <div class="service-info">
               <i class="bx bxl-coding"></i>

                <h6>Backend Developer</h6>
                <p>
                     As a backend developer, I specialize in creating robust, secure, and scalable server-side
                        solutions. I build and manage databases, develop APIs, and ensure seamless communication between
                        the front-end and server. My expertise in Django, Python, and MySQL enables me to design
                        efficient architectures, implement authentication systems, and optimize data handling for
                        performance. Whether it's developing new features, integrating third-party services, or
                        maintaining existing applications, I ensure reliability and efficiency in every project.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Services end -->
{% endblock %}
